$roboto: 'Roboto', sans-serif;
$robotoC: 'Roboto Condensed', sans-serif;
$satisfy: 'Satisfy', cursive;

// custom variables
$icon-font-path: '../fonts/';
$font-family-sans-serif: 'Roboto', sans-serif;
$btn-border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;
$input-border-radius: 0;
$input-border-radius-large: 0;
$input-border-radius-small: 0;
$text-color: #565656;
$line-height-base: 1.6;
//Custom Variables

//Colors
$black: #000;
$black02:#111010;
$lightblack:#3b3b3b;
$lightblack02:#262626;
$lightblack03:#0b0e1e;
$white:#fff;
$white02:#e8e9eb;
$white03:#f2f2f2;
$white04: #d3d3d3;
$lightBlack:#353535;
$lightBlack2:#484848;
$lightGray: #ccc;
$lightGray02: #565656;
$lightGray03: #A2A2A2;
$lightGray04: #6a6e73;
$lightGray05: #323233;
$lightGray06: #4c4c4c;
$lightGray07: #D0CECE;
$lightGray08: #7a7a7a;
$lightGray09: #6e6e6e;
$darkGray: #545454;
$darkGray02: #787878;
$darkGray03:#898989;
$orange:#ec3b17;
$darkBlue:#39599f;
$lightBlue:#9bc6e5;
$blue02:#3a91d3;
$lightBlue02:#2e6992;
$lightBlue03:#3584ba;
$lightBlue04:#889fb4;
$lightBlue05:#45b0e3;
$lightBlue06:#7acbdf;
$lightBlue07:#5e7592;
$lightGreen:#7fbf82;
$lightGreen02:#31dda2;
$darkGreen:#3cb878;
$pink:#d97aa5;
$darkpink:#ff8888;
$red:#e70031;
$red1:#ed6262;
$orange: #de6300;


