.gallery-wrapper{
  h4{
    font: 25px $roboto;
    font-weight: 400;
    color: $lightGray02;
    margin-bottom: 70px;
  }
}
.gallery-box-wrapper{
  padding: 0;
  list-style-type: none;
  li{
    @extend .col-xs-12;
    margin-bottom: 30px;
    a{
      display: block;
      overflow: hidden;
      text-align: center;
      img{
        transition: transform 0.4s ease-in-out;
      }
    }
    .overlay-grid{
     display: none;
    }
  }  
  &.col-3{
    li{
      @extend .col-xs-12;
      @extend .col-sm-6;
      @extend .col-md-4;
    }
  }
  &.col-2{
    li{
      @extend .col-xs-12;
      @extend .col-sm-6;
    }
  }
}
.load_more_gallery_image{
  font: 14px $roboto;
  color: #fff;
  text-transform: uppercase;
  // background: $darkGreen;
  padding: 15px 40px;
  position: relative;
  z-index: 0;
  transition: color  0.3s;
  &:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    box-shadow: inset 0 0 0 35px $darkGreen;
    border-radius: 4px;
    transform: scale3d(1, 1, 1);
    transition: box-shadow 0.3s, transform 0.3s;
  }
  &:hover,
  &:focus{
    color: $darkGreen;
    &:after{
      box-shadow: inset 0 0 0 2px $darkGreen;
    }
  }
}
.center-content {
  text-align: center;
}
.loadmore_wrapper-v2{
 display: inline-block;
 position: relative;
}
.loadmore-wrapper{
  float: left;
  display: inline-block;
  width: 100%;
  padding-left: 60px;
  padding: 10px 0 10px 60px;
}

.gallery-masonary-list{
  width: calc(100% - 15px);
  @media screen and (min-width: $screen-xs){
    width: calc(50% - 15px);
  }
  @media screen and (min-width: $screen-sm){
    width: calc(33.33% - 15px);
  }
  margin-bottom: 15px;
  a{
    display: block;
    &:hover{
      .masonary-overlay{
        opacity: 1;
        .expand{
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }
      }
    }
  }
  img{
    display:block;
    max-width:100%;
  }
}

.slider-overlay,
.masonary-overlay{
  display: none;
}
@media screen and (min-width: $screen-md){
  .gallery-box-wrapper{
    .overlay-grid{
      width: 100%;
      height: 100%;
      z-index: 20;
      background: rgba(53,132,186,0.8) ;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      display: block;
      transition: all 0.4s ease-in-out;
      .expand{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 0;
        border: 3px solid #fff;
        font-size: 20px;
        color: #fff;
        line-height: 60px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate( -50% , -50%);
        transition: all 0.4s ease-in-out;
      }
    }
    &:hover{
      img{
        transform: scale(1.3);
      }
    }
  }  
  .gallery-list-inner{
    position: relative;
    &:hover{
      .overlay-grid{
        opacity: 1;
        .expand{
          height: 60px;
          width: 60px;
          border-radius: 50%;
        }
      }
    }
  }
  /*--------- carousel gallery -------------*/
  .slider-overlay{
      width: 100%;
      height: 100%;
      z-index: 20;
      background: rgba(53,132,186,0.8) ;
      position: absolute;
      top: 0;
      opacity: 0;
      left: 0;
      display: block;
      transition: all 0.4s ease-in-out;
      .expand{
        position: absolute;
        width: 100%;
        height:100%;
        border-radius: 0;
        border: 3px solid #fff;
        font-size: 20px;
        color: #fff;
        line-height: 60px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate( -50% , -50%);
        transition: all 0.4s ease-in-out;
      }
    }
  .single-gallery-list-inner:hover{
    .slider-overlay{
      opacity: 1;
      .expand{
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }
  }

  /*------------ masonary overlay ------------*/
  .masonary-overlay{
    width: 100%;
    height: 100%;
    z-index: 20;
    background: rgba(53,132,186,0.8) ;
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    display: block;
    transition: all 0.4s ease-in-out;
    .expand{
      position: absolute;
      width: 100%;
      height:100%;
      border-radius: 0;
      border: 2px solid;
      font-size: 20px;
      color: #fff;
      line-height: 60px;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate( -50% , -50%);
      transition: all 0.4s ease-in-out;
    }
  }
} 