.team-list-page{
  .section-heading02{
    p{
      margin-top: 50px;
    }
  }
}

@media screen and (min-width: $screen-md){
  .team-list-page{
    .section-heading02{
      p{
        width: 40%;
      }
    }
    .team-member{
      margin-bottom: 50px;
    }
  }
}